@{
    ViewBag.Title = "RFQHistory1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <head>
        <meta charset="utf-8" />
        <title>Smart Global Pricing</title>
        <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/opensans.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui-1.10.3.full.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/daterangepicker.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ui.jqgrid.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-rtl.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-skins.min.css")" />
        <script src="@Url.Content("~/assets/js/ace-extra.min.js")"></script>
    </head>
}
@section featured {
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="~/Home/Home">Home</a>
                </li>

                <li>
                    <a href="~/Pricing/PricingView">Pricing</a>
                </li>
                <li class="active">Pricing View</li>
            </ul><!-- .breadcrumb -->
        </div>

        <div id="searchPanel" class="col-sm-zy1">
            <div class="widget-box">
                <div class="widget-header">
                    <h4>Search</h4>
                    <span class="widget-toolbar">
                        <a href="#" id="aRefresh">
                            <i class="icon-refresh bigger-140 green"></i>
                        </a>
                        <a href="#" data-action="collapse">
                            <i class="icon-chevron-down"></i>
                        </a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div>
                            <table align="center" style="width:100%">
                                <tr>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        <button class="btn btn-app btn-success btn-xs" onclick="searchGrid(); return false;">
                                            <i class="icon-search bigger-160"></i>
                                            Query
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-zy1">
            <!-- PAGE CONTENT BEGINS -->
            <table style="width:100%;">
                <tr>
                    <td>
                        <table id="grid-table" class="bi-grid" listname="HistoryGrid" key="RFQID" rownum="20" multiselect="false" pager="grid-pager"></table>
                        <div id="grid-pager"></div>
                    </td>
                </tr>
            </table>
        </div><!-- /.col -->

        <div class="page-content" style="padding: 8px 12px 0px">
            <div class="row">

            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
    @*</div>*@
    <!-- basic scripts -->
    <!--[if !IE]> -->

    <script src='~/assets/js/jquery-2.0.3.min.js'></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/assets/js/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-2.0.3.min.js")'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-1.10.2.min.js")'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='@Url.Content("~/assets/js/jquery.mobile.custom.min.js")'>" + "<" + "/script>");
    </script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/typeahead-bs2.min.js")"></script>

    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="@Url.Content("~/assets/js/jqGrid/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery-ui-1.10.3.full.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.ui.touch-punch.min.js")"></script>
    <script src="@Url.Content("~/assets/js/date-time/daterangepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/js/date-time/moment.min.js")"></script>
    <script src="@Url.Content("~/assets/js/ace-elements.min.js")"></script>
    <script src="@Url.Content("~/assets/js/ace.min.js")"></script>
    <script src="@Url.Content("~/Scripts/publiclib.js")"></script>

    <script type="text/javascript">

        var rootUrl = '@Url.Content("~/")';

        function searchGrid() {
            $.bi.grid.search($.bi.form.getData("fm"), "grid-table");
        }


        $(document).ready(function () {

            $.bi.grid.load({ rootUrl: '@Url.Content("~/")' });

            $("#searchPanel").resize(function (e) {
                $("#grid-table").jqGrid('setGridWidth', $(".widget-box").width());
            });
           
        });
    </script>
}
