@using BI.SGP.Web.Models;
@using BI.SGP.BLL.UIManager;
@{
    ViewBag.Title = "CustomerActionsTrackerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <title>Smart Global Pricing</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/opensans.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui-1.10.3.full.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-timepicker.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ui.jqgrid.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-rtl.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-skins.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/fullcalendar.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" />
    <script src="@Url.Content("~/assets/js/ace-extra.min.js")"></script>
</head>
}
@section featured {
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="~/Home/Home">Home</a>
                </li>
                <li class="active">Customer Visit - Actions Tracker</li>
            </ul><!-- .breadcrumb -->
        </div>

        <div id="searchPanel" class="col-sm-zy1">
            <div class="widget-box">
                <div class="widget-header">
                    <h4>Search</h4>
                    <span class="widget-toolbar">
                        <a id="btnInsert" title="Create" style="cursor:pointer">
                            <i class="icon-plus-sign bigger-140 green"></i>
                        </a>
                        <a href="javascript:void(0)" data-action="collapse">
                            <i class="icon-chevron-down"></i>
                        </a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div>
                            <table align="center" style="width:100%">
                                <tr>
                                    <td>
                                        <form id="fm" method="post">
                                            <table style="width:100%" id="query-DefaultSearch">
                                                <tr>
                                                    <td style="width:8%" align="right">&nbsp;Customer&nbsp;</td>
                                                    <td style="width:17%"><input style="width:100% !important" id="txCustomer" name="txCustomer" type="text"></td>
                                                    <td style="width:8%" align="right">&nbsp;Topic&nbsp;</td>
                                                    <td style="width:17%"><input style="width:100% !important" id="txTopic" name="txTopic" type="text"></td>
                                                    <td style="width:8%" align="right">&nbsp;Follow Up Owner&nbsp;</td>
                                                    <td style="width:17%"><input style="width:100% !important" id="txFollowUpOwner" name="txFollowUpOwner" type="text"></td>
                                                    <td style="width:8%" align="right">&nbsp;Status&nbsp;</td>
                                                    <td style="width:17%"><input style="width:100% !important" id="txStatus" name="txStatus" type="text"></td>
                                                </tr>
                                            </table>
                                        </form>
                                    </td>
                                    <td>
                                        <button id="btnSearch" class="btn btn-app btn-success btn-xs" onclick="searchGrid(); return false;">
                                            <i class="icon-search bigger-160"></i>
                                            Query
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-zy1">
            <!-- PAGE CONTENT BEGINS -->
            <table style="width:100%;">
                <tr>
                    <td>
                        <table id="grid-table"></table>
                        <div id="grid-pager"></div>
                    </td>
                </tr>
            </table>
        </div><!-- /.col -->

        <div class="page-content" style="padding: 8px 12px 0px">
            <div class="row">

            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
    @*</div>*@
    <!-- basic scripts -->
    <!--[if !IE]> -->

    <script src='~/assets/js/jquery-2.0.3.min.js'></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/assets/js/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-2.0.3.min.js")'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-1.10.2.min.js")'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='@Url.Content("~/assets/js/jquery.mobile.custom.min.js")'>" + "<" + "/script>");
    </script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/typeahead-bs2.min.js")"></script>
    <script src="@Url.Content("~/assets/js/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/assets/js/date-time/bootstrap-timepicker.min.js")"></script>
    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="@Url.Content("~/assets/js/jqGrid/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery-ui-1.10.3.full.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.ui.touch-punch.min.js")"></script>

    <script src="@Url.Content("~/assets/js/date-time/daterangepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/js/date-time/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/js/date-time/moment.min.js")"></script>
    <script src="@Url.Content("~/assets/js/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/ace-elements.min.js")"></script>
    <script src="@Url.Content("~/assets/js/ace.min.js")"></script>
    <script src="@Url.Content("~/Scripts/publiclib.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.hotkeys.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootstrap-wysiwyg.min.js")"></script>
    <script src="@Url.Content("~/assets/js/bootbox.min.js")"></script>
    <script src="@Url.Content("~/Scripts/common.js")"></script> 
    <script src="@Url.Content("~/Scripts/leftmenu.js")"></script>



    <!-- inline scripts related to this page -->
    <script type="text/javascript">
    var VisitId = '@Request["VisitId"]'; 
    var rootUrl = '@Url.Content("~/")';

    $(document).ready(function () {

        createGrid();

        $("#searchPanel").resize(function (e) {
            $("#grid-table").jqGrid('setGridWidth', $(".widget-box").width());
        });

        $("#btnInsert").on('click', function (e) {
            editData();
        });
         
        $("#txCustomer").autocomplete({
            source: '@Url.Content("~/CustomerProfile/GetAuotCompleteValue")'
        });
    });

    function searchGrid() {
        var postData = $.bi.form.getData("fm");
        $('#grid-table').jqGrid('setGridParam', {
            url: '@Url.Content("~/CustomerVisit/CustomerVisitActionsTrackerData")' + '?VisitId=' + VisitId,
            postData: postData,
            page: 1
        }).trigger("reloadGrid");
    }

    function editData(keyValue) {
        $.post('@Url.Content("~/CustomerVisit/CustomerActionsTrackerDetail")', function (data) {
            $.bi.dialog.show({
                title: 'Customer Visit Actions Tracker',
                content: data,
                width: 900,
                buttons: [],
                create: function () {
                    if (typeof (CustomeVisitActionsTrackerloadData) == "function") {
                        CustomeVisitActionsTrackerloadData(keyValue, VisitId);
                    }
                },
                close: function () {
                    searchGrid();
                }
            });
        }, 'html');
    }

    function delData(id) {
        $.bi.dialog.show({
            iconCss: 'icon-warning-sign red',
            width: '250px',
            content: 'Delete selected record?',
            buttons: [
                {
                    html: "<i class='icon-trash bigger-110'></i>&nbsp; Delete",
                    "class": "btn btn-danger btn-xs",
                    click: function () {
                        $.post('@Url.Content("~/CustomerVisit/DelActionsTrackerData")', { ID: id }, function (data) {
                            if (data.success) {
                                searchGrid();
                            } else {
                                if (!data.success) {
                                    $.bi.dialog.showErr({ title: "Message", content: data.errMessage, iconCss: "icon-warning-sign red" });
                                }
                            }
                        }, "json");
                        $(this).dialog("destroy");
                    }
                },
                    {
                        html: "<i class='icon-remove bigger-110'></i>&nbsp; Cancel",
                        "class": "btn btn-xs",
                        click: function () {
                            $(this).dialog("destroy");
                        }
                    }
            ]
        });
    }

    function createGrid() {
        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";

        $(grid_selector).jqGrid({
            url: '@Url.Content("~/CustomerVisit/CustomerVisitActionsTrackerData")' + '?VisitId=' + VisitId,
            sortorder: 'desc',
            datatype: "json",
            sortname: 'ID',
            height: 250,
            colNames: [' ', 'Customer', 'Topic', 'Comments', 'Follow Up Owner', 'Status'],
            colModel: [
                {
                    name: 'myac', index: '', width: 60, fixed: true, sortable: false, resize: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var returtString = '';
                        returtString += '<div title="Edit" style="float:left;cursor:pointer;" class="ui-pg-div ui-inline-edit" onclick="editData(' + rowObject["ID"] + ')" onmouseover="jQuery(this).addClass(\'ui-state-hover\');" onmouseout="jQuery(this).removeClass(\'ui-state-hover\')"><span class="ui-icon ui-icon-pencil"></span></div>';
                        returtString += '<div title="Delete" style="float:left;margin-left:2px;" class="ui-pg-div ui-inline-del" onclick="delData(' + rowObject["ID"] + ')" onmouseover="jQuery(this).addClass(\'ui-state-hover\');" onmouseout="jQuery(this).removeClass(\'ui-state-hover\');"><span class="ui-icon ui-icon-trash"></span></div>';
                        return returtString;
                    }
                },
                {
                    name: 'Customer', index: 'Customer', width: 150,
                    formatter: function (cellvalue, options, rowObject) {
                        cellvalue = cellvalue || "";
                        return "<a href='javascript:void(0)' onclick='editData(\"" + rowObject["ID"] + "\")'>" + cellvalue + "</a>";
                    }
                },
                { name: 'Topic', index: 'Topic', width: 200 },
                { name: 'Comments', index: 'Comments', width: 240 },
                { name: 'FollowUpOwner', index: 'FollowUpOwner', width: 200 },
                {
                    name: 'Status', index: 'Status', width: 100,
                    formatter: function (cellvalue, options, rowObject) {
                        cellvalue = cellvalue || "";
                        var statusStyle='';
                        if (cellvalue == "Closed")
                        {
                            statusStyle = "label label label-success arrowed arrowed-right";
                        } else {
                            statusStyle = "label label label-primary arrowed arrowed-right";
                        }
                        return "<span class=\"" + statusStyle + "\">" + cellvalue + "</span>";
                    }
                },
            ],

            viewrecords: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: pager_selector,
            altRows: true,

            multiselect: true,
            multiboxonly: true,

            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    $.bi.grid.updatePagerIcons(table);
                }, 0);
            },
            recordpos: "left",
            height: "auto",
            shrinkToFit: false,
            autowidth: true
        });
    }

    </script>
}
