@{
    ViewBag.Title = "CustomerVisitCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
        <title>Customer Visit-Scheduler </title>
        <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/opensans.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui-1.10.3.full.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/chosen.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/daterangepicker.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/datepicker.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-timepicker.css")">
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ui.jqgrid.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-rtl.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-skins.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/fullcalendar.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" />
        <script src="@Url.Content("~/assets/js/ace-extra.min.js")"></script>
    </head>
}
@section featured {
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">Customer</a>
                </li>
                <li class="active">Customer Visit-Scheduler </li>
            </ul><!-- .breadcrumb -->
        </div>

        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="space"></div>
                            <div id="calendar" class="fc fc-ltr">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="widget-box transparent">
                                <div class="widget-header">
                                    <h1> 
                                        <button id="btnCreateVisiting" class="btn btn-primary" title="" >
                                            Create Visiting
                                            <i class="icon-plus-sign bigger-140"></i>
                                        </button>
                                    </h1>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main no-padding"> 
                                        <div id="external-events">
                                            @{
                                                @MvcHtmlString.Create(BI.SGP.BLL.Models.CustomerVisitManager.GenrateVisitList());
                                            } 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- /.main-content -->
    @*</div>*@

    <!-- basic scripts -->
    <!--[if !IE]> -->
    <!--[if !IE]> -->

    <script type="text/javascript">
    window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-2.0.3.min.js")'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
         window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-1.10.2.min.js")'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">

    if ("ontouchend" in document) document.write("<script src='@Url.Content("~/assets/js/jquery.mobile.custom.min.js")'>" + "<" + "/script>");
    </script>
   <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/assets/js/typeahead-bs2.min.js")"></script>
<script src="@Url.Content("~/assets/js/fullcalendar.min.js")"></script>
<script src="@Url.Content("~/assets/js/date-time/bootstrap-timepicker.min.js")"></script>
<!-- page specific plugin scripts -->
<!-- ace scripts -->
<script src="@Url.Content("~/assets/js/jqGrid/jquery.jqGrid.min.js")"></script>
<script src="@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-en.js")"></script>
<script src="@Url.Content("~/assets/js/jquery-ui-1.10.3.full.min.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.ui.touch-punch.min.js")"></script>

<script src="@Url.Content("~/assets/js/date-time/daterangepicker.min.js")"></script>
<script src="@Url.Content("~/assets/js/date-time/bootstrap-datepicker.min.js")"></script>
<script src="@Url.Content("~/assets/js/date-time/moment.min.js")"></script>
<script src="@Url.Content("~/assets/js/chosen.jquery.min.js")"></script>
<script src="@Url.Content("~/assets/js/ace-elements.min.js")"></script>
<script src="@Url.Content("~/assets/js/ace.min.js")"></script>
<script src="@Url.Content("~/Scripts/publiclib.js")"></script>
<script src="@Url.Content("~/Scripts/leftmenu.js")"></script>
<script src="@Url.Content("~/Scripts/syslib.js")"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
    var PageType = 'View';

    $(document).ready(function () {
        //加载日历控件
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            selectable: false,
            selectHelper: true,
            editable: false,
            allDayDefault: false,
            events: '@Url.Content("~/CustomerVisit/GetCustomerVisitList")',
            eventClick: function (calEvent, jsEvent, view) {
                CustomerVisitDetailed(calEvent.id);  //查看客户访问详细
            }
        });

    });

    function CustomerVisitDetailed(keyValue) {
        $.post('@Url.Content("~/CustomerVisit/CustomerVisitDetail")', function (data) {
            $.bi.dialog.show({
                title: 'Customer Visit',
                content: data,
                width: 900,
                buttons: [],
                create: function () {
                    if (typeof (CustomeVisitloadData) == "function") { 
                        CustomeVisitloadData(keyValue,0);
                    }
                } 
            });
        }, 'html');        
    }


    $("#btnCreateVisiting").on('click', function (e) {
        window.open('@Url.Content("~/CustomerVisit/CustomerVisitList")');
    })


    </script>
}
