@using BI.SGP.Web.Models;
@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
@section ActionButton{
    <a href="@Url.Content("~/Pricing/Detail")" target="_blank" title="Create RFQ">
        <i class="icon-plus-sign bigger-140 green"></i>
    </a>
    <a href="@Url.Content("~/B2F/Detail")" target="_blank" title="Create RFQ For B2F">
        <i class="icon-plus-sign bigger-140 green"></i>
    </a>
    <a href="javascript:void(0)" id="aNext" title="Submit">
        <i class="icon-arrow-right bigger-140"></i>
    </a>
    <a href="javascript:void(0)" id="aPDF" title="Batch PDF Export">
        <i class="icon-file-alt bigger-140 green"></i>
    </a>
    <a href="~/Import/ImportExcel" id="aUpload" title="Import">
        <i class="icon-cloud-upload bigger-140 purple"></i>
    </a>
    <a href="javascript:void(0)" id="aDownload" title="Excel Export">
        <i class="icon-cloud-download bigger-140 pink"></i>
    </a>
    <a href="javascript:void(0)" id="aFieldSetting" title="Field Setting">
        <i class="icon-cog bigger-140 red"></i>
    </a>
    <a href="javascript:void(0)" id="aRefresh" title="Refresh">
        <i class="icon-refresh bigger-140 green"></i>
    </a>
}
@section FootScript {
<script type="text/javascript">
    var gridRowsObject = {};
    $(document).ready(function () {

        $("#form-searchBox").biSearchBox({
            groupName: searchGroup,
            searchButton: 'btnSearch'
        });

        $("#grid-table").biGrid({
            groupName: gridGroup,
            pager: 'grid-pager',
            sortname: 'RFQID',
            sortorder: 'DESC',
            widthRelateElement: 'searchPanel',
            extSqlColumns: 'RFQID,StatusID,TemplateID',
            extColumns: [
                { index: 0, title: ' ', model: { name: 'myac', width: 100, sortable: false, resizable: false, align: 'center' } }
            ],
            formatters: {
                myac: function (cellvalue, options, rowObject) {
                    gridRowsObject[options.rowId] = rowObject;
                    return '<div title="Edit" style="float:left;cursor:pointer;" class="ui-pg-div ui-inline-edit" onclick="doEdit(\'' + rowObject["TemplateID"] + '\', \'' + rowObject["RFQID"] + '\')" onmouseover="jQuery(this).addClass(\'ui-state-hover\');" onmouseout="jQuery(this).removeClass(\'ui-state-hover\')"><span class="ui-icon ui-icon-pencil"></span></div>' +
                           '<div title="Delete" style="float:left;margin-left:2px;" class="ui-pg-div ui-inline-del" onclick="doDelete(\'' + rowObject["RFQID"] + '\')" onmouseover="jQuery(this).addClass(\'ui-state-hover\');" onmouseout="jQuery(this).removeClass(\'ui-state-hover\');"><span class="ui-icon ui-icon-trash"></span></div>' +
                           '<div title="Download PDF" style="float:left;margin-left:2px;" class="ui-pg-div ui-inline-del" onclick="downDoc(\'' + rowObject["RFQID"] + '\');" onmouseover="jQuery(this).addClass(\'ui-state-hover\');" onmouseout="jQuery(this).removeClass(\'ui-state-hover\');"><span class="ui-icon icon-file-alt green"></span></div>' +
                           '<div title="history" style="float:left;margin-left:2px;" class="ui-pg-div ui-inline-edit" onclick="history(\'' + rowObject["RFQID"] + '\');" onmouseover="jQuery(this).addClass(\'ui-state-hover\');" onmouseout="jQuery(this).removeClass(\'ui-state-hover\');"><span class="ui-icon icon-calendar orange"></span></div>';
                },
                Number: function (cellvalue, options, rowObject) {
                    cellvalue = cellvalue || "";
                    var ahref = rowObject["TemplateID"] == "2" ? '@Url.Content("~/B2F/Detail")' : '@Url.Content("~/Pricing/Detail")';
                    cellvalue = "<a href='" + ahref + "?RFQID=" + rowObject["RFQID"] + "' target='_blank'>" + cellvalue + "</a>";
                    return cellvalue;
                },
                WFStatus: function (cellvalue, options, rowObject) {
                    if (cellvalue == null || cellvalue == "") {
                        return "";
                    } else {
                        var labelClass;
                        if (rowObject["StatusID"] == "9") {
                            labelClass = "label-success";
                        } else {
                            labelClass = "label-info";
                        }
                        return '<span class="label ' + labelClass + ' arrowed arrowed-right" style="cursor:pointer" onclick="$.bi.timeline.show(' + rowObject["TemplateID"] + ',\'' + rowObject["RFQID"] + '\')">' + cellvalue + '</span>';
                    }
                },
                VIForm: function (cellvalue, options, rowObject) {
                    cellvalue = cellvalue || "";
                    return "<a href='javascript:void(0)' onclick='TransformGPToVI(\"" + rowObject["RFQID"] + "\", \"" + cellvalue + "\")'>" + cellvalue + "</a>";
                }
            },
        });

        $("#aDownload").on('click', function (e) {
            showExportDialog(e);
        })

        $("#btnSearch").on('click', function (e) {
            $("#grid-table").biGrid('search', $("#form-searchBox").biSearchBox('getData'));
        })

        $("#aRefresh").on('click', function (e) {
            refresh();
        })

        $("#aFieldSetting").on('click', function (e) {
            $.bi.fieldSetting.showDialog({
                rootUrl: '@Url.Content("~/")', listName: 'DefaultGrid', title: 'Fields Setting', callBack: refresh
            });
        })

        $("#aPDF").on('click', function (e) {
            var keyValues = getSelectedValues();
            if (keyValues != "") {
                window.open('@Url.Content("~/B2F/DownloadPDF")' + "?RFQID=" + keyValues);
            }
        })

        $("#aNext").on('click', function (e) {
            return;
            var keyValues = getSelectedValues();
            if (keyValues != "") {
                $.bi.overlay.show();
                $.post('@Url.Content("~/Pricing/WFRun")', { KeyValues: keyValues }, function (data) {
                    $.bi.overlay.hide();
                    if (data.isPass) {
                        $.bi.dialog.show({ title: "Submit", content: "operation successfully completed!" });
                    } else {
                        $.bi.dialog.show({ title: "Message", content: data.MessageString, iconCss: "icon-warning-sign red" });
                    }
                    $('#grid-table').jqGrid().trigger("reloadGrid");
                }, "json");
            }
        })

    });

    function refresh() {
        location.replace(location);
    }

    function doEdit(templateid, id) {
        if (templateid == "2") {
            window.open('@Url.Content("~/Pricing/Detail")' + '?RFQID=' + id);
        } else {
            window.open('@Url.Content("~/Pricing/Detail")' + '?RFQID=' + id);
        }
    }

    function doDelete(id) {
        $.bi.dialog.showDelete({
            okAction: function () {
                $.post('@Url.Content("~/GridData/DelData")', { ID: id }, function (data) {
                    if (data.success) {
                        $("#grid-table").biGrid('search', $("#form-searchBox").biSearchBox('getData'));
                    } else {
                        if (!data.success) {
                            $.bi.dialog.showErr({ title: "Message", content: data.errMessage, iconCss: "icon-warning-sign red" });
                        }
                    }
                }, "json");
                return true;
            }
        });
    }

    function downDoc(id) {
        window.open('@Url.Content("~/B2F/DownloadPDF")' + "?RFQID=" + id);
    }

    function history(id) {
        window.open('@Url.Content("~/Report/RFQHistory")' + '?RFQID=' + id);
    }

    function getSelectedValues() {
        var gid = "#grid-table";
        var keyValues = new Array();
        var selectedIds = $(gid).jqGrid("getGridParam", "selarrrow");
        if (selectedIds != null && selectedIds.length > 0) {
            
            for (var i = 0; i < selectedIds.length; i++) {
                keyValues.push(gridRowsObject[selectedIds[i]]["RFQID"]);
            }
        }

        return keyValues.join();
    }

    function TransformGPToVI(id, programName) {
        var buttons = [
                 {
                     html: "<i class='icon-fighter-jet bigger-110'></i>&nbsp; OK",
                     "class": "btn btn-success btn-xs",
                     click: function () {
                         $(this).dialog("destroy");
                         $.post('@Url.Content("~/GridData/TransformGPToVI")', { id: id, programName: programName }, function (data) {
                             if (data.success) {
                                 $.bi.dialog.show({ title: "Data To VI", content: data.Message });
                             } else {
                                 if (!data.success) {
                                     $.bi.dialog.showErr({ title: "Message", content: data.Message, iconCss: "icon-warning-sign red" });
                                 }
                             }
                         }, "json");
                     }
                 },
                 {
                     html: "<i class='icon-remove bigger-110'></i>&nbsp; Cancel",
                     "class": "btn btn-xs",
                     click: function () {
                         $(this).dialog("destroy");
                     }
                 }
        ]
        $.bi.dialog.show({ title: "Data To VI", content: "You are updating the related info to VI system, please click ok to confirm", buttons: buttons });
    }
</script>
}
