@{
    ViewBag.Title = "FieldSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
        <title>Smart Global Pricing</title>
        <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/opensans.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui-1.10.3.full.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/chosen.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/daterangepicker.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ui.jqgrid.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-rtl.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-skins.min.css")" />
        <script src="@Url.Content("~/assets/js/ace-extra.min.js")"></script>
    </head>

}
@section featured
{
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="~/Home/Home">Home</a>
                </li>

                <li>
                    <a href="~/Pricing/PricingView">Pricing</a>
                </li>
                <li class="active">Pricing View</li>
            </ul><!-- .breadcrumb -->
        </div>


        <div class="col-sm-zy1">
            <!-- PAGE CONTENT BEGINS -->
            <table style="width:100%;">
                <tr>
                    <td style=" height: 50px; background-color: #eff3f8 !important;">
                        <div>
                            <div style="float:left; padding-left:10px">
                                <button type="button" style="display:none" id="btnInsertData" class="btn spinner-up btn-xs btn-success"><i class="icon-plus smaller-110"></i>Add</button>
                            </div>
                            <div style="float: right ;padding-right:10px">
                                <label>Search: <input type="text" id="btnSearch" aria-controls="sample-table-2"></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>

                        <table id="grid-table"></table>

                        <div id="grid-pager"></div>

                        <script type="text/javascript">
                            var $path_base = "/";//this will be used in gritter alerts containing images
                        </script>

                    </td>
                </tr>
            </table>
        </div><!-- /.col -->

        <div class="page-content" style="padding: 8px 12px 0px">
            <div class="row">

            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
    @*</div>*@
    <!-- basic scripts -->
    <!--[if !IE]> -->

    <script src='~/assets/js/jquery-2.0.3.min.js'></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/assets/js/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-2.0.3.min.js")'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-1.10.2.min.js")'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='@Url.Content("~/assets/js/jquery.mobile.custom.min.js")'>" + "<" + "/script>");
    </script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/typeahead-bs2.min.js")"></script>

    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="@Url.Content("~/assets/js/jqGrid/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery-ui-1.10.3.full.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.ui.touch-punch.min.js")"></script>
    <script src="@Url.Content("~/assets/js/date-time/daterangepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/js/date-time/moment.min.js")"></script>
    <script src="@Url.Content("~/assets/js/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/ace-elements.min.js")"></script>
    <script src="@Url.Content("~/assets/js/ace.min.js")"></script>
    <script src="@Url.Content("~/assets/js/easyui/easyloader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/publiclib.js")"></script>

    <!-- inline scripts related to this page -->
    <style>
        .tree:before {
            border: 0px;
        }

        .timeline-container {
            padding-top: 0px;
            margin-bottom: 0px;
        }
    </style>

    <script type="text/javascript">


    jQuery(function ($) {
        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";


        jQuery(grid_selector).jqGrid({
            url: "@Url.Content("~/GridData/GetFieldSettingData")",
            datatype: "json",
            height: "auto",
            colNames: ['', 'ID', 'FieldName', 'DisplayName', 'Sort', 'CategoryName'],
            colModel: [
                {
                    name: 'myac', index: 'Action', width: 80, fixed: true, sortable: false, resize: false,
                    formatter: 'actions',
                    formatoptions: {

                        delbutton: false,
                        editbutton: true,
                        keys: false,
                        afterSave: function (RowID) {
                            var rowdata = $("#grid-table").jqGrid('getRowData', RowID);
                            var FieldName = rowdata["FieldName"];
                            var CategoryName = rowdata["CategoryName"];
                            var Sort = rowdata["Sort"];
                            var DisplayName = rowdata["DisplayName"];

                       
                            $.ajax({
                                type: 'Post',
                                url: '@Url.Content("~/Setting/EditFieldSetting")',
                                data: { "FieldName": FieldName, "DisplayName": DisplayName, "Sort": Sort, "CategoryName": CategoryName,"ID":RowID },
                                datatype: 'json',
                                success: function (data) {
                                    if (data.SysMgs.isPass == true) {

                                        $.bi.dialog.show({ title: 'Success', content: ' Successful Operation!', width: 300 });
                                    }
                                    else {

                                        $.bi.dialog.show({ title: 'Message', content: data.SysMgs.MessageString, modal: true, buttons: [] });

                                    }
                                }
                            });
                        }
                    }
                },
                { name: 'ID', index: 'ID', width: 65 },
                { name: 'FieldName', index: 'FieldName', width: 150 },
                { name: 'DisplayName', index: 'DisplayName', width: 150, editable: true },
                { name: 'Sort', index: 'Sort', width: 150, editable: true },
                { name: 'CategoryName', index: 'CategoryName', width: 150, editable: true, edittype: 'select', editoptions: { value: "Request Information:Request Information;Closure Status:Closure Status;Product Information:Product Information;Costing Information:Costing Information;Pricing & Profitability Information:Pricing & Profitability Information;Price Detail:Price Detail;Terms & Conditions:Terms & Conditions" } }
            ],
            viewrecords: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: pager_selector,
            altRows: true,
            //toppager: true,

            multiselect: false,

            multiboxonly: true,

            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    styleCheckbox(table);
                    updateActionIcons(table);
                    updatePagerIcons(table);
                    enableTooltips(table);
                }, 0);
            },

            //nothing is saved
            //caption: "FieldSetting",
            autowidth: true,
            jsonReader: {

                repeatitems: false,

                id: "ID"

            },


        });

        //enable search/filter toolbar
        //jQuery(grid_selector).jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})

        @*$('#btnInsertData').click(function (e) {

            $.post('@Url.Content("~/Setting/EditFieldContent")', function (data) {
                $.bi.dialog.show({
                    title: 'Add FieldName',
                    content: data,
                    width: 300,
                    buttons: [{
                        html: "<i class='icon-ok bigger-110 green'></i>&nbsp; Create",
                        "class": "btn btn-info btn-xs",
                        click: function () {

                            var fieldname = $("#FieldName").val();
                            var CategoryName = $("#CategoryName").val();
                            var Sort = $("#Sort").val();
                            var DisplayName = $("#DisplayName").val();
                            $.ajax({
                                type: 'Post',
                                url: '@Url.Content("~/Setting/AddFieldSetting")',
                                    data: { "FieldName": fieldname, "DisplayName": DisplayName, "Sort": Sort, "CategoryName": CategoryName },
                                    datatype: 'json',
                                    success: function (data) {
                                        if (data.SysMsg.isPass == true) {
                                            $("#grid-table").addRowData(data.ID, { "ID": data.ID, "FieldName": fieldname, "DisplayName": DisplayName, "Sort": Sort, "CategoryName": CategoryName }, "first");
                                        }
                                    }
                                });

                                $(this).dialog("destroy");
                            }
                        },
                            {
                                html: "<i class='icon-remove bigger-110'></i>&nbsp; Cancel",
                                "class": "btn btn-xs",
                                click: function () {
                                    $(this).dialog("destroy");
                                }
                            }]

                    });
                });



            });*@




            $('#btnSearch').keydown(function (e) {
                var queryData = { "Search": $("#btnSearch").val() };
                if (e.keyCode == 13) {
                    $("#grid-table").jqGrid('setGridParam', {
                        postData: queryData,
                        url: "@Url.Content("~/GridData/SearchFieldSettingData")",
                page: 1
            }).trigger("reloadGrid");
        }
    });

    //switch element when editing inline
    function aceSwitch(cellvalue, options, cell) {
        setTimeout(function () {
            $(cell).find('input[type=checkbox]')
                    .wrap('<label class="inline" />')
                .addClass('ace ace-switch ace-switch-5')
                .after('<span class="lbl"></span>');
        }, 0);
    }
    //enable datepicker
    function pickDate(cellvalue, options, cell) {
        setTimeout(function () {
            $(cell).find('input[type=text]')
                    .datepicker({ format: 'yyyy-mm-dd', autoclose: true });
        }, 0);
    }


    //navButtons

    function style_edit_form(form) {
        //enable datepicker on "sdate" field and switches for "stock" field
        form.find('input[name=sdate]').datepicker({ format: 'yyyy-mm-dd', autoclose: true })
            .end().find('input[name=stock]')
                  .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');

        //update buttons classes
        var buttons = form.next().find('.EditButton .fm-button');
        buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
        buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
        buttons.eq(1).prepend('<i class="icon-remove"></i>')

        buttons = form.next().find('.navButton a');
        buttons.find('.ui-icon').remove();
        buttons.eq(0).append('<i class="icon-chevron-left"></i>');
        buttons.eq(1).append('<i class="icon-chevron-right"></i>');
    }

    function style_delete_form(form) {
        var buttons = form.next().find('.EditButton .fm-button');
        buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
        buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
        buttons.eq(1).prepend('<i class="icon-remove"></i>')
    }

    function style_search_filters(form) {
        form.find('.delete-rule').val('X');
        form.find('.add-rule').addClass('btn btn-xs btn-primary');
        form.find('.add-group').addClass('btn btn-xs btn-success');
        form.find('.delete-group').addClass('btn btn-xs btn-danger');
    }
    function style_search_form(form) {
        var dialog = form.closest('.ui-jqdialog');
        var buttons = dialog.find('.EditTable')
        buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
        buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
        buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
    }

    function beforeDeleteCallback(e) {
        var form = $(e[0]);
        if (form.data('styled')) return false;

        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
        style_delete_form(form);

        form.data('styled', true);
    }

    function beforeEditCallback(e) {
        var form = $(e[0]);
        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
        style_edit_form(form);
    }



    //it causes some flicker when reloading or navigating grid
    //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
    //or go back to default browser checkbox styles for the grid
    function styleCheckbox(table) {
        /**
            $(table).find('input:checkbox').addClass('ace')
            .wrap('<label />')
            .after('<span class="lbl align-top" />')


            $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
            .find('input.cbox[type=checkbox]').addClass('ace')
            .wrap('<label />').after('<span class="lbl align-top" />');
        */
    }


    //unlike navButtons icons, action icons in rows seem to be hard-coded
    //you can change them like this in here if you want
    function updateActionIcons(table) {
        /**
        var replacement =
        {
            'ui-icon-pencil' : 'icon-pencil blue',
            'ui-icon-trash' : 'icon-trash red',
            'ui-icon-disk' : 'icon-ok green',
            'ui-icon-cancel' : 'icon-remove red'
        };
        $(table).find('.ui-pg-div span.ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
        })
        */
    }

    //replace icons with FontAwesome icons like above
    function updatePagerIcons(table) {
        var replacement =
        {
            'ui-icon-seek-first': 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev': 'icon-angle-left bigger-140',
            'ui-icon-seek-next': 'icon-angle-right bigger-140',
            'ui-icon-seek-end': 'icon-double-angle-right bigger-140'
        };
        $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

            if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
        })
    }

    function enableTooltips(table) {
        $('.navtable .ui-pg-button').tooltip({ container: 'body' });
        $(table).find('.ui-pg-div').tooltip({ container: 'body' });
    }

    //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');


    });
    </script>
}
