@{
    ViewBag.Title = "Customer Order Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
        <title>Customer Order Information</title>
        <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/opensans.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui-1.10.3.full.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/chosen.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/daterangepicker.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ui.jqgrid.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-rtl.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-skins.min.css")" />
        <script src="@Url.Content("~/assets/js/ace-extra.min.js")"></script>
    </head>
}
@section featured {
    <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">Customer</a>
            </li>
            <li class="active">Cisco Hub Management</li>
        </ul><!-- .breadcrumb -->
    </div>

    <div id="searchPanel" class="col-sm-zy1">
        <div class="widget-box">
            <div class="widget-header">
                <h4>Search</h4>
                <span class="widget-toolbar">
                    <a href="javascript:void(0)" id="aDownload" title="Excel Export">
                        <i class="icon-cloud-download bigger-140 pink"></i>
                    </a>
                    <a href="javascript:void(0)" data-action="collapse">
                        <i class="icon-chevron-down"></i>
                    </a>
                </span>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div>
                        <table align="center" style="width:100%">
                            <tr>
                                <td>
                                    <form id="fm" method="post">
                                        <table style="width:100%" id="query-DefaultSearch">
                                            <tr>
                                                <td style="width:5%" align="right">&nbsp;Option:&nbsp;</td>
                                                <td style="width:15%">
                                                    <input type="radio" id="Quantity" value="Quantity" checked name="myrad">Quantity
                                                    <input type="radio" id="Amount" value="Amount" name="myrad">Amount
                                                </td>
                                                <td style="width:8%" align="right">&nbsp;Customer&nbsp;</td>
                                                <td style="width:15%"><input style="width:100% !important" id="site" name="site" type="text"></td>
                                                <td style="width:8%" align="right">&nbsp;P/N&nbsp;</td>
                                                <td style="width:15%"><input style="width:100% !important" id="PartNo" name="PartNo" type="text"></td>
                                                <td style="width:8%" align="right">&nbsp;Project&nbsp;</td>
                                                <td style="width:15%"><input style="width:100% !important" id="Item" name="Item" type="text"></td>
                                            </tr>
                                        </table>
                                        @Html.Partial("~/Views/Export/ExportExcelCustomerOrder.cshtml")
                                    </form>
                                </td>
                                <td>
                                    <button id="btnSearch" class="btn btn-app btn-success btn-xs" onclick="searchGrid(); return false;">
                                        Query
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-zy1">
        <!-- PAGE CONTENT BEGINS -->
        <table style="width:100%;">
            <tr>
                <td>
                    <table id="grid-table"></table>
                    <div id="grid-pager"></div>
                </td>
            </tr>
        </table>
    </div><!-- /.col -->

    <div class="page-content" style="padding: 8px 12px 0px">
        <div class="row">

        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->
@*</div>*@
<!-- basic scripts -->
<!--[if !IE]> -->

<script src='~/assets/js/jquery-2.0.3.min.js'></script>

<!-- <![endif]-->
<!--[if IE]>
<script src="~/assets/js/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-2.0.3.min.js")'>" + "<" + "/script>");
</script>

<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-1.10.2.min.js")'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='@Url.Content("~/assets/js/jquery.mobile.custom.min.js")'>" + "<" + "/script>");
</script>
<script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/assets/js/typeahead-bs2.min.js")"></script>

<!-- page specific plugin scripts -->
<!-- ace scripts -->
<script src="@Url.Content("~/assets/js/jqGrid/jquery.jqGrid.min.js")"></script>
<script src="@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-en.js")"></script>
<script src="@Url.Content("~/assets/js/jquery-ui-1.10.3.full.min.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.ui.touch-punch.min.js")"></script>
<script src="@Url.Content("~/assets/js/date-time/daterangepicker.min.js")"></script>
<script src="@Url.Content("~/assets/js/date-time/moment.min.js")"></script>
<script src="@Url.Content("~/assets/js/chosen.jquery.min.js")"></script>
<script src="@Url.Content("~/assets/js/ace-elements.min.js")"></script>
<script src="@Url.Content("~/assets/js/ace.min.js")"></script>
<script src="@Url.Content("~/Scripts/publiclib.js")"></script>
<script src="@Url.Content("~/Scripts/leftmenu.js")"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">

        var rootUrl = '@Url.Content("~/")';

        $(document).ready(function () {

            $(document).keydown(function (e) {
                if (e.keyCode == 13) {
                    $("#btnSearch").click();
                    return false;
                }
            });

            createGrid();

            $("#Quantity").change(function () {
                searchGrid();
            });
            $("#Amount").change(function () {
                searchGrid();
            });

            $("#searchPanel").resize(function (e) {
                $("#grid-table").jqGrid('setGridWidth', $(".widget-box").width());
            });

            $("#aDownload").on('click', function (e) {
                CustomerOrderToExcel(e);

            });

        });

        function searchGrid() {
            var postData = $.bi.form.getData("fm");
            $('#grid-table').jqGrid('setGridParam', {
                url: '@Url.Content("~/CustomerOrderInformation/CusomerOrderInformationResult")',
                postData: postData,
                page: 1
            }).trigger("reloadGrid");
        }

        function createGrid() {
            var grid_selector = "#grid-table";
            var pager_selector = "#grid-pager";

            $(grid_selector).jqGrid({
                url: '@Url.Content("~/CustomerOrderInformation/CusomerOrderInformationResult")',
                sortorder: 'asc',
                datatype: "json",
                sortname: 'site',
                height: 250,
                colNames: ['Customer', 'P/N', 'Project', 'Split', 'Over 90 days', 'Over 60 days', 'Over 30 days', '30 days or less', 'Total Aging', 'Current Period', 'Next Period(+1)', 'Next Next Period(+2)', 'GHub', 'Site Inventory', 'Current Period', 'Next Period(+1)', 'Thirth Period', 'Fourth Period', 'Fifth Period', 'Sixth Period'],
                colModel: [
                    { name: 'site', index: 'site', width: 80 },
                    { name: 'cPartNo', index: 'cPartNo', width: 80 },
                    { name: 'mitem', index: 'mitem', width: 80 },
                    { name: 'Split', index: 'Split', width: 50 },
                    { name: 'Hub90days', index: 'Hub90days', align: 'right', width: 80 },
                    { name: 'Hub60days', index: 'Hub60days', align: 'right', width: 80 },
                    { name: 'Hub30days', index: 'hub30days', align: 'right', width: 80 },
                    { name: 'Hub0days', index: 'Hub0days', align: 'right', width: 90 },
                    { name: 'TotalAgent', index: 'TotalAgent', align: 'right', width: 80 },
                    { name: 'BacklogCurrentP', index: 'BacklogCurrentP', align: 'right', width: 90 },
                    { name: 'BacklogNextP', index: 'BacklogNextP', align: 'right', width: 100 },
                    { name: 'BacklogThirdP', index: 'BacklogThirdP', align: 'right', width: 120 },
                    { name: 'GHub', index: 'GHub', align: 'right', width: 60 },
                    { name: 'SiteInventory', index: 'SiteInventory', align: 'right', width: 90 },
                    { name: 'DemandCurrentP', index: 'DemandCurrentP', align: 'right', width: 90 },
                    { name: 'DemandNextP', index: 'DemandNextP', align: 'right', width: 90 },
                    { name: 'DemandThirthP', index: 'DemandThirthP', align: 'right', width: 100 },
                    { name: 'DemandFourthP', index: 'DemandFourthP', align: 'right', width: 100 },
                    { name: 'DemandFifthP', index: 'DemandFifthP', align: 'right', width: 100 },
                    { name: 'DemandSixthP', index: 'DemandSixthP', align: 'right', width: 100 } 
                ], 

                viewrecords: true,
                rowNum: 10,
                rowList: [10, 20, 30],
                pager: pager_selector,
                altRows: true,

                rowTotals: true,
                colTotals: true,

                multiselect: true,
                multiboxonly: true,
                footerrow: true,
                userDataOnFooter: true,

                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        $.bi.grid.updatePagerIcons(table);      
                        $("th[role='columnheader']").css("cssText", "text-align:center!important");
                        $("tr[class='ui-widget-content footrow footrow-ltr']").css("cssText", "color:red");
                    }, 0);
                },

                recordpos: "left",
                height: "auto",
                shrinkToFit: false,
                autowidth: true
            });

            jQuery(grid_selector).jqGrid('setGroupHeaders', {
                useColSpanStyle: true,
                groupHeaders: [
                  { startColumnName: 'Hub90days', numberOfColumns: 5, titleText: 'Hub Inventory Aging(A)' },
                  { startColumnName: 'BacklogCurrentP', numberOfColumns: 3, titleText: 'Backlog(B)' },
                  { startColumnName: 'DemandCurrentP', numberOfColumns: 6, titleText: 'Demand(C)' }
                ]
            });

        }
    </script>
}