@using BI.SGP.Web.Models;
@using System.Data;
@{
    ViewBag.Title = "CustomerImport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <title>Upload Customer Profile</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/opensans.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui-1.10.3.full.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ui.jqgrid.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-rtl.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-skins.min.css")" />
    <script src="@Url.Content("~/assets/js/ace-extra.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.min.js")"></script>

}
@section featured {
    <div class="main-content" style="background-color:white">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="~/CustomerProfile/CustomerList">Customer</a>
                </li>
                <li class="active">ImportExcel</li>
            </ul><!-- .breadcrumb -->
        </div>
        <div class="widget-header widget-header-small">
            <h4 class="blue smaller">
                <i class="icon-cloud-upload"></i>
                Batch Upload Customer Profiles
            </h4>
            <div class="widget-toolbar action-buttons">
            </div>
        </div>
        
        @using (Html.BeginForm("LoadExcel", "CustomerProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div id="divUpload" class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name"> Select File </div>
                    <div class="profile-info-value">
                        <div class="ace-file-input">
                            <input type="file" name="ImportFile" id="id-input-file" />
                        </div>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Template </div>
                    <div class="profile-info-value">
                        <a target="_blank" href="@Url.Content("~/CustomerProfile/DownloadTemplate/")">Template Download</a>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Action </div>
                    <div class="profile-info-value">
                        <button id="tbnSave" type="submit" class="btn btn-sm btn-info">
                            <i class="icon-cloud-upload bigger-110"></i>
                            Upload
                        </button>
                    </div>
                </div>
            </div>
        }
            <div id="divExcelData" style="overflow: auto; height: 380px; width: 320px">
                @if (@ViewData["ExcelData"] != null)
                {
                    @Html.GetHtmlContent(@ViewData["ExcelData"] as DataTable)
                }
            </div>
 </div>

    <script src='~/assets/js/jquery-2.0.3.min.js'></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/assets/js/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-2.0.3.min.js")'>" + "<" + "/script>");
    </script>
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='@Url.Content("~/assets/js/jquery.mobile.custom.min.js")'>" + "<" + "/script>");
    </script>

    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/typeahead-bs2.min.js")"></script>
    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="@Url.Content("~/assets/js/jqGrid/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-en.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery-ui-1.10.3.full.min.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.ui.touch-punch.min.js")"></script>
    <script src="@Url.Content("~/assets/js/date-time/daterangepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/js/date-time/moment.min.js")"></script>
    <script src="@Url.Content("~/assets/js/ace-elements.min.js")"></script>
    <script src="@Url.Content("~/assets/js/ace.min.js")"></script>
    <script src="@Url.Content("~/assets/js/easyui/easyloader.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/publiclib.js")"></script>
 
    <script type="text/javascript"> 
 
        jQuery(function ($) {
            $('table th input:checkbox').on('click', function () {
                var that = this;
                $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                    alert($(thi).val);
                });
            });

            $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

        $('#id-input-file-1 , #id-input-file-2').ace_file_input({
            no_file: 'No File ...',
            btn_choose: 'Choose',
            btn_change: 'Change',
            droppable: false,
            onchange: null,
            thumbnail: false //| true | large
            //whitelist:'gif|png|jpg|jpeg'
            //blacklist:'exe|php'
            //onchange:''
            //
        });

        $('#id-input-file').ace_file_input({
            no_file: '',
            btn_choose: 'choose',
            btn_change: 'Change',

            droppable: false,
            thumbnail: false

        }).on('change', function () {
            //console.log($(this).data('ace_input_files'));
            //console.log($(this).data('ace_input_method'));
        });


        //dynamically change allowed formats by changing before_change callback function
        $('#id-file-format').removeAttr('checked').on('change', function () {
            var before_change
            var btn_choose
            var no_icon
            if (this.checked) {
                btn_choose = "Drop images here or click to choose";
                no_icon = "icon-picture";
                before_change = function (files, dropped) {
                    var allowed_files = [];
                    for (var i = 0 ; i < files.length; i++) {
                        var file = files[i];
                        if (typeof file === "string") {
                            //IE8 and browsers that don't support File Object
                            if (!(/\.(jpe?g|png|gif|bmp)$/i).test(file)) return false;
                        }
                        else {
                            var type = $.trim(file.type);
                            if ((type.length > 0 && !(/^image\/(jpe?g|png|gif|bmp)$/i).test(type))
                                    || (type.length == 0 && !(/\.(jpe?g|png|gif|bmp)$/i).test(file.name))//for android's default browser which gives an empty string for file.type
                                ) continue;//not an image so don't keep this file
                        }

                        allowed_files.push(file);
                    }
                    if (allowed_files.length == 0) return false;

                    return allowed_files;
                }
            }
            else {
                btn_choose = "Select Excel File here";
                no_icon = "icon-cloud-upload";
                before_change = function (files, dropped) {
                    return files;
                }
            }
            var file_input = $('#id-input-file-3');
            file_input.ace_file_input('update_settings', { 'before_change': before_change, 'btn_choose': btn_choose, 'no_icon': no_icon })
            file_input.ace_file_input('reset_input');
        }); 
    });
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        ResizeLongList();

        var msg = '@ViewData["MSG"]';
        if (msg != '') {
            //alert(msg);
            $.bi.dialog.show({ title: 'Message', content: msg});
            return false;
        } 
    });

    function ResizeLongList() {
        var divUploadWidth = $("#divUpload").width();
        $("#divExcelData").width(divUploadWidth)
    }

</script>

}


