@{
    ViewBag.Title = "CustomerPrint";
}
@using BI.SGP.BLL.DataModels;
@model BI.SGP.BLL.Models.CustomerProfileManager


<div class="my_hidden" style="text-align:right">    
    <button id="btnPrint" onclick="Print(); return false;" style="width:120px">Print</button>
</div>
<div class="my_show">
    @*@{
        @MvcHtmlString.Create(@BI.SGP.BLL.UIManager.CustomerProfileUIManager.GenrateModelCustomerProfileDetail(Model, @Request["ID"], "print"))
    }*@

    @{
        List<FieldCategory> lfc = ViewBag.Categories;
        @MvcHtmlString.Create(BI.SGP.BLL.UIManager.CustomerUIManager.GenrateCategories(lfc, "Print"));
    }
</div> 

<script src='~/assets/js/jquery-2.0.3.min.js'></script>
<!--Print-->
<script src="@Url.Content("~/Scripts/jquery.jqprint.js")"></script> 

<script type="text/javascript">
    $(document).ready(function () {
        $(".my_show").jqprint();
    });
    function Print() {
        $(".my_show").jqprint();
    }
</script>

